*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* 태그의 테두리선을 너비 또는 높이에 포함시킴
    너비를 100px, border를 1px했다면 총 너비는 102px
    box-sizing:border-box가 적용되면 총 너비는 100px */
}

#wrap{    /* 일단 큰 틀 만들어서 기본 설정해줘 */
    width: 1200px;    /
    margin: 0 auto;   
    display: flex; /* 왼쪽과 오른쪽 붙여서 나오도록 해줌*/
}

#side{        /* 왼쪽 틀 (메뉴 넣는 곳) 만들어 */
    width: 20%;     
    background: rgba(200,0,0,0.3); 

}

#content{      /* 오른쪽 틀 (이미지 넣는 곳) 만들어 */
    width: 80%;
    background: rgba(0,200,0,0.3);
    padding: 80px 20px;          /* top과 bottom 좌우는 80px, 위아래는 20px 띄워줌 */
}

ul{list-style: none;}     /* ul태그의 앞에 붙은 동그라미 없앰 */

#side .menu_box{
    width: 100%;
    padding: 50px 0;
}

#side .menu_box .menu_list{
    font-size: 20px;
    text-align: center;
}

#content .top{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 사진 열과 열 사이의 간격 벌어짐 */
    row-gap: ;: 2%;   /* 사진 사이 간격 */
    margin-bottom: 30px;
}

#content .top .img_box{
    width: 32%;
    overflow: hidden;  /* 벗어나는 사진은 안 보이기 */
}

#content .bottom{
    
    display: flex;
    justify-content: space-between;   
}

#content .bottom .left,
#content .bottom .right{
    width: 20%;
    height: 400px;
    background: rgba(43,46,246,0.3);
}

#content .bottom .middle{
    width: 54%;
    height: 400px;
    background: rgba(223,30,30,0.62);
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}